body{
  background-color: #c295d8;
  line-height: 1.5;
    }
hr{
  border-style: none;
  border-top-style: dotted;
  border-color:grey;
  border-width: 5px;
  width: 5%;
  margin: 30px auto;
}
h1{
  color:#ff2e63;
  text-shadow: 2px 2px #ffe75e;
}
h3{
  color:#ff2e63;
  text-shadow: 2px 2px #ffe75e;
}
